# Source files
src/
tests/

# Config files
.eslintrc.json
eslint.config.mjs
.prettierrc
.prettierignore
tsconfig.json
jest.config.js

# Development files
.gitignore
.vscode/
.idea/
*.test.ts
*.spec.ts

# Misc
coverage/
node_modules/
.DS_Store
*.log
